body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow: hidden;
}
/* CSS код зі стилізаціями для скрола */
::-webkit-scrollbar {
  width: 1px; /* Ширина скрола */
}

::-webkit-scrollbar-thumb {
  background-color: #007586; /* Колір бару скрола */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Колір треку скрола */
}

::-webkit-scrollbar-button {
  background-color: transparent; /* Колір кінцівки скрола */
}

ul,
li,
a,
p,
button {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
