.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "text text text text"
    "photo1 photo2 photo3 .";
}

.photo1 {
  grid-area: photo1;
}

.photo2 {
  grid-area: photo2;
}

.photo3 {
  grid-area: photo3;
}

.text {
  grid-area: text;
}

.text {
  grid-area: text;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;
}

.span {
  text-transform: uppercase;
  color: #007586;
}
.img1 {
  border-top-left-radius: 30px;
}

.img3 {
  border-top-right-radius: 30px;
}
